.App {
  text-align: center;
}
body {
  /* background-color: #7f7fd5; */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url("../public/images/ketnoi1.jpg"); */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card-body {
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  border: "1px solid blue";
  /* background-color: #7f7fd5; */
  background-color: white;
  border: solid 1px burlywood;
}

.card-text {
  /* background-color: gold; */
  margin: 10px 0px;
}
.col-lg-8 {
  height: 500px;
  border: "1px solid blue";
}

.card-footer {
  background-color: #f0e6e7;
}
.card-body2 {
  text-align: center;
  background-color: aliceblue;
  color: darkgreen;
  font-size: 24px;
}
/* body {
  padding: 0px;
  margin: 0px;
  background-image: url(../public/images/banner1.jpg);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */
.col-8 {
  width: 140px;
  height: 100px;
  background: #088cb7;
  position: relative;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

.col-8:before {
  content: "";
  width: 0;
  height: 0;
  right: 100%;
  top: 38px;
  position: absolute;
  border-top: 13px solid transparent;
  border-right: 26px solid #088cb7;
  border-bottom: 13px solid transparent;
}
.form-control {
  margin-bottom: 10px;
}
